body{
    background-image: url("achtergrond_design.JPG");
    font-family: 'Rubik', sans-serif;
}

.boxed{
    border: 3px solid black ;
    background-color: white;
    margin-top: 63px ;
    margin-bottom: 63px ;
    margin-left: 24px;
    margin-right: 24px;
    -moz-box-shadow:    inset 0 0 6px #000000;
    -webkit-box-shadow: inset 0 0 6px #000000;
    box-shadow:         inset 0 0 6px #000000;
    -moz-box-shadow:     0 0 6px #000000;
    -webkit-box-shadow:  0 0 6px #000000;
    box-shadow:          0 0 6px #000000;
}

.form {
    display: flex;
    justify-content: space-around;
}